.calc-row {
    height: 100vh;
    font-family: 'Share Tech Mono', monospace;
}

.input-window {
    text-align: end;
    font-size: x-large;
    background-color: white;

}

#btn_clr {
    background-color: brown;
    color: rgb(255, 255, 255);
}

.btn-outline-primary {
    background-color: blue;
    color: rgb(255, 255, 255);
}